body {
    background-image: url("../images/background_real_estate_2.jpg");
    
}
.title {
color: #E3E5E6;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding-top: 60px;
padding-bottom: 40px;
}
#summary {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 500px;
}
.active {
    font-size: 15px;
}
.column {
    width: 33.3%;
    float: left;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column{
      margin-left: 40px;
      margin-right: 40px;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .info {
      background-color: #E3E5E6;
     width: auto;
  }
  .card-body {
    background-color: #E3E5E6;
  }
  .form {
    background-color: #E3E5E6;
    margin-left: 50px;
    margin-right: 50px;
  }
  .main {
    background-color: #E3E5E6;
    width: auto;
    height: 400px;
    padding-top: 30px;
  }
  .button{
      size: 30px;
      align-content: center;
  }
  .social {
    background-color: #E3E5E6;
    height: 100%;
    display: flex;
    padding: auto 7rem;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
  footer {
    height: 120px;
    background-color: #E3E5E6;
    display: flex;
    width: auto;
  }
  header {
    height: 200px;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: auto 25px;
    border: none;
    height: 70%;
}
.card-container{
  display: flex;
  justify-content:center;
  height: 700px;
}
.secmain {
    background-color: #E3E5E6;
    width: auto;
    height: 400px;
    padding-top: 30px;
}
